/* Forces html element to feature smooth scrolling that isn't instantaneous */
html {
    scroll-behavior: smooth;
}


/* "Top Button" that returns viewer to the top of the page */
#homebutton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgba(185, 185, 185, 0.555);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
}

  /* Custom class that will place a faint shadow behind text to improve contrast for legibility */
.textshadow {
    text-shadow:1px 1px 4px #000000;
}

/* custom function to make a long image slowly scroll through */
.tech-slideshow {
    height: 200px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
  
.tech-slideshow > div {
    height: 200px;
    width: 2526px;
    background: url(https://i.imgur.com/LXHGyNe.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
    opacity: 1;
}
  
@keyframes moveSlideshow {
    100% { 
        transform: translateX(-66.6666%);  
    }
}   

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}